name: release
on:
  workflow_dispatch:
    inputs:
      release-tag:
        description: 'Version to release'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21' ]
        architecture: [ 'x64' ]
        
    name: Release ${{ github.event.inputs.release-tag }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.release-tag }}

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          architecture: ${{ matrix.architecture }}
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE


      - name: Release with Maven
        run: mvn -B --no-transfer-progress -Psonatype-oss-release -DskipTests=true deploy
        env:
          MAVEN_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
